.listaDeCartas {
  padding: 3mm;
  box-shadow: 1mm 1mm 3mm black;
  border-radius: 3mm;

}

.listaDeCartas > .cartas {
    display: flex;
    flex-direction: row;
    gap: 3mm;
}

.listaDeCartas > .cartas > .carta {
      zoom: 0.6;
}